@page "/"
@inherits ClaimListBase

<h3>ClaimList</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">SubmitDate</th>
            <th scope="col">TotalAmount</th>
        </tr>
    </thead>
    <tbody>


        @if (Claims == null)
        {
            <tr>
                <th scope="row"> </th>
                <td> NO DATA </td>
            </tr>
        }
        else
        {
            int cnt = 0;
            @foreach (var item in Claims)
            {
                cnt++;
                <tr>
                    <th scope="row">@cnt</th>
                    <td> @item.Title</td>
                    <td> @item.SubmitDate</td>
                    <td> @item.TotalAmount</td>
                </tr>
            }
        }

    </tbody>

</table>

@*
    public string Title { get; set; }
    public int Requester { get; set; }
    public int Approver { get; set; }
    public DateTime SubmitDate { get; set; }
    public DateTime ApprovalDate { get; set; }
    public DateTime ProcessedDate { get; set; }
    public int TotalAmount { get; set; }
    public string Status { get; set; }
    public string RequesterComments { get; set; }
    public string ApproverComments { get; set; }
    public string FinanceComments { get; set; }
*@
